<div class="all">
  <img src="assets/logo-roar-bikes.svg  " />
  <div class="contain">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <!--        <a class="navbar-brand">-->
        <!--          Online-<span style="color: #0014ff"> Exam</span>-->
        <!--        </a>-->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mobile-nav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                id="home"
                class="nav-link"
                [routerLink]="['/home']"
                routerLinkActive=""
                (click)="onclick(f)"
                #f
              >
                Home
              </a>
            </li>
          </ul>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                id="register"
                class="nav-link"
                [routerLink]="['/register']"
                (click)="onclick(x)"
                #x
              >
                Register
              </a>
            </li>
          </ul>

          <li class="navbar-nav dropdown mr-auto" *ngIf="isAuthenticat()">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Exam
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="exam/add-exam">Add Exam</a>
              <a class="dropdown-item" routerLink="exam/chose-forUpdate"
                >Update Exam</a
              >
              <!--          <div class="dropdown-divider"></div>-->
              <!--          <a class="dropdown-item" href="#">Something else here</a>-->
            </div>
          </li>

          <ul class="navbar-nav mr-auto" *ngIf="!isAuthenticat()">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="login"
                id="login"
                (click)="onclick(c)"
                #c
              >
                login
              </a>
            </li>
          </ul>

          <ul class="navbar-nav mr-auto" *ngIf="isAuthenticat()">
            <li class="nav-item">
              <a class="nav-link" (click)="logout()"> Logout </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
