.bg-light {
  background-color: #00c98e !important;
}

nav {
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
 .all {
   background-color: #00c98e;
   padding-top: 2px;
   z-index: 1;

 }
 .container {
   width: 65%;
   display: flex;
   justify-content: space-between;
 }

 nav{
 }
nav a{

  color: #ffffff !important;
  text-decoration: none;
  border: 0.125rem solid white;
  padding: 0.313rem 1.25rem;
  margin: 1rem;

}
nav a:hover {
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
.dropdown-menu {
  background-color: #00c98e ;
  border: 1px solid #000000cc;;
  padding: 0px 30px 0px 0px;
  box-sizing: border-box;
}
.dropdown-item {
  background-color:#00c98e !important  ;

}
