<!-- <div class="landing">-->
<!--    <div class="dark-overlay landing-inner text-light">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12 text-center">-->
<!--            <h1 class="display-4 mb-4">-->
<!--              Online-<span style="color:royalblue">Exam</span>-->
<!--            </h1>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<div class="container-fluid">
          <div class="container">
            <h1> Futures start here </h1>
          </div>
</div>
