<!--<div class="landing">-->
<!--  <div class="dark-overlay landing-inner text-light">-->
<!--    <div class="container">-->
<!--      <div class="container mt-5 m-*-auto ">-->
<!--        <div class="d-flex justify-content-center h-100">-->
<!--          <div class="user_card">-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <div class="brand_logo_container">-->
<!--                <img-->
<!--                  src="../../assets/logo.gif"-->
<!--                  class="brand_logo"-->
<!--                  alt="Logo"-->
<!--                />-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="d-flex justify-content-center form_container">-->

<!--              <form class="mb-5">-->
<!--                <div class="input-group " style="margin-top: 50px;">-->
<!--                  <div class="input-group-append">-->
<!--                    <span class="input-group-text"-->
<!--                    ><i class="fas fa-user"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <input-->
<!--                    type="text"-->
<!--                    name="Name"-->
<!--                    class="form-control input_user form-control-lg"-->
<!--                    value=""-->
<!--                    [(ngModel)]="Registration.name"-->
<!--                    required="Email Required"-->
<!--                    placeholder="username *"-->
<!--                  />*-->
<!--                </div>-->

<!--                <div class="input-group mb-2 mt-3">-->
<!--                  <div class="input-group-append">-->
<!--                    <span class="input-group-text"-->
<!--                    ><i class="fas fa-key"></i-->
<!--                    ></span>-->
<!--                  </div>-->

<!--                  <input-->
<!--                    type="email"-->
<!--                    name="email"-->
<!--                    class="form-control form-control-lg input_pass"-->
<!--                    value=""-->
<!--                    [(ngModel)]="Registration.email"-->
<!--                    placeholder="Email Address *"-->
<!--                  />-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-append">-->
<!--                    <span class="input-group-text"-->
<!--                    ><i class="fas fa-phone"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <input-->
<!--                    type="text"-->
<!--                    name="phone1"-->
<!--                    class="form-control form-control-lg input_phone"-->
<!--                    value=""-->
<!--                    [(ngModel)] = "Registration.phone_number1"-->
<!--                    placeholder="Phone Number1 *"-->
<!--                  />-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-append">-->
<!--                    <span class="input-group-text"-->
<!--                    ><i class="fas fa-phone"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <input-->
<!--                    type="text"-->
<!--                    name="phone1"-->
<!--                    class="form-control form-control-lg input_phone"-->
<!--                    value=""-->
<!--                    [(ngModel)] = "Registration.phone_number2"-->
<!--                    placeholder="Phone Number1"-->
<!--                  />-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-append">-->
<!--                    <span class="input-group-text"-->
<!--                    ><i class="fas fa-university"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <input-->
<!--                    type="text"-->
<!--                    name="faculty"-->
<!--                    class="form-control form-control-lg input_phone"-->
<!--                    value=""-->
<!--                    [(ngModel)] = "Registration.faculty"-->
<!--                    placeholder="Faculty *"-->
<!--                  />-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-append">-->
<!--                    <span class="input-group-text"-->
<!--                    ><i class="fas fa-university"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <input-->
<!--                    type="text"-->
<!--                    name="Address"-->
<!--                    class="form-control form-control-lg input_phone"-->
<!--                    value=""-->
<!--                    [(ngModel)] = "Registration.address"-->
<!--                    placeholder="Address *"-->
<!--                  />-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-append">-->
<!--                    <span class="input-group-text"-->
<!--                    ><i class="fas fa-university"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <select (change)="selectChangeHandle($event)" class="browser dropdown">-->
<!--                    <option disable>Select Level</option>-->
<!--                    <option *ngFor="let level of Levels" [value]="Levels.indexOf(level)">{{level.type}}</option>-->
<!--                  </select>-->

<!--                  />-->
<!--                </div>-->

<!--                <div class="d-flex justify-content-center mt-3 login_container">-->
<!--                  <button type="button" name="button" class="btn login_btn"  (click)="creatInterviewee()" >-->
<!--                    Register-->
<!--                  </button>-->
<!--                </div>-->

<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<section class="vh-100 gradient-custom">
  <br style="height: 5px" />
  <div class="container">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card-body p-4 p-md-5">
          <form (ngSubmit)="submit(form)" #form="ngForm">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="firstName"
                    class="form-control form-control-lg"
                    name="  fristName "
                    ngModel
                  />
                  <label class="form-label" for="firstName">First Name</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="lastName"
                    class="form-control form-control-lg"
                    name="lastName"
                    ngModel
                  />
                  <label class="form-label" for="lastName">Last Name</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4 d-flex align-items-center">
                <div class="form-outline datepicker w-100">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    id="birthdayDate"
                    name="birthday"
                    ngModel
                  />
                  <label for="birthdayDate" class="form-label">Birthday</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <h6 class="mb-2 pb-1">Gender:</h6>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="maleGender"
                    value="option2"
                    ngModel
                  />
                  <label class="form-check-label" for="maleGender">Male</label>
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="femaleGender"
                    value="option1"
                    checked
                    ngModel
                  />
                  <label class="form-check-label" for="femaleGender"
                    >Female</label
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                  <input
                    type="email"
                    id="emailAddress"
                    class="form-control form-control-lg"
                    name="email"
                    ngModel
                  />
                  <label class="form-label" for="emailAddress">Email</label>
                </div>
              </div>
              <div class="col-md-6 mb-4 pb-2">
                <div class="form-outline">
                  <input
                    type="tel"
                    id="phoneNumber"
                    class="form-control form-control-lg"
                    name=" phoneNumber"
                    ngModel
                  />
                  <label class="form-label" for="phoneNumber"
                    >Phone Number</label
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 dropdown">
                <select class="select form-control-lg" name="priority" ngModel>
                  <option disabled>Choose level</option>
                  <option value="1">level 1</option>
                  <option value="2">level 2</option>
                  <option value="3">level 3</option>
                </select>
                <label class="form-label select-label" style="margin-left: 12px"
                  >Choose level</label
                >
              </div>
            </div>

            <div class="col-md-9 pe-5">
              <input
                class="form-control form-control-lg"
                id="formFileLg"
                type="file"
                name="cv"
                ngModel
              />
              <div style="color: #0000009d; font-size: small">
                Upload your CV/Resume or any other relevant file. Max file size
                50 MB
              </div>
            </div>

            <div class="mt-4 pt-2">
              <input
                class="btn btn-primary"
                type="submit"
                style="width: 23%; padding: 7px 0px"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
