
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!--<p-dialog [style]="{width: width+'vw'}"-->
<!--          [maximizable]="maximizable"-->
<!--          [header]="header"-->
<!--          [responsive]="responsive"-->
<!--          [modal]="modal"-->
<!--          [closable]="closable"-->
<!--          [visible]="visible"-->
<!--          (visibleChange)="visibleChangeEvent($event)"-->
<!--          [contentStyle]="contentStyle"-->
<!--          (onHide)="onHideFun($event)"-->
<!--          [minY]="minY"-->
<!--          [draggable]="draggable"-->
<!--          [blockScroll]="blockScroll"-->
<!--          [closeOnEscape]="closeOnEscape"-->
<!--          [dismissableMask]="dismissableMask"-->
<!--          [rtl]="rtl"-->
<!--          [breakpoint]="breakpoint"-->
<!--          [appendTo]="appendTo"-->
<!--          [styleClass]="styleClass"-->
<!--          [showHeader]="showHeader"-->
<!--          [autoZIndex]="autoZIndex"-->
<!--          [minX]="minX"-->
<!--          [focusOnShow]="focusOnShow"-->
<!--          (onShow)="onShowDialog($event)"-->
<!--          *ngIf="visible"-->
<!--          [positionLeft]="positionLeft"-->
<!--          [positionTop]="positionTop">-->

<!--  <ng-content></ng-content>-->


<!--  <p-footer>-->
<!--    <ng-content select="p-footer"></ng-content>-->
<!--  </p-footer>-->

<!--</p-dialog>-->
